<!-- Used command html:5 to create template  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word</title>
</head>
<body>
    <div><h1>Word of The Day!</h1></div>
    <h1>{{ word }}</h1>
    <p>Translation: {{ translation }}</p>
    <p>Pronunciation: {{ pronunciation}}</p>
    <!-- <p>Pronunciation: {{ pronunciation }}</p> -->
</body>
</html>